@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&display=swap');
/* @font-face{
    src: url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
    font-family: 'Space Mono', monospace;
} */



.light{
    --color-highlight:       #6FBAFF;
    --color-link:            #03A9F4;
    --color-light:           #F1F1F1;
    

    --color-primary:         #FFFFFF;
    --color-secondary:       #FFFFFF;
    --color-tertiary:        #F1F1F1;
    --color-quarternary:     #EEEEEE;
    --color-backgroud:       #FFFFFF;

    
    --text-light:            #C4C4C4;
    --text-dark:             #646464;
    
    --color-warning:         #AF9E00;
    --color-danger:          #EF0F07;
    --color-disable:         #CCCCCC;

    --info-full: rgba(255, 0, 153, 1);
    --info-half: rgba(255, 0, 153, 0.30);

    --dang-full: rgba(239, 15, 7, 1);
    --dang-half: rgba(239, 15, 7, 0.30);
    
    --warn-full: rgba(255, 245, 0, 1);
    --warn-half: rgba(255, 245, 0, 0.30);

    --help-full: rgba(3, 169, 244, 1);
    --help-half: rgba(3, 169, 244, 0.30);

    --done-full: rgba(0, 230, 118, 1);
    --done-half: rgba(0, 230, 118, 0.30);
}

/* Dark mode */
.dark{
    --color-highlight:        #6FBAFF;
    --color-link:             rgb(0, 0, 0);
    --color-light:            #F1F1F1;

    --color-primary:          #373737;
    --color-secondary:        #2D2D2D;
    --color-tertiary:         #222222;
    --color-quarternary:      #404040;
    --color-backgroud:        #151515;
    
    --text-light:             #646464;
    --text-dark:              #C4C4C4;
    
    --color-warning:          #FFF500;
    --color-danger:           #EF0F07;
    --color-disable:          #777777;

    --info-full: rgba(255, 0, 153, 1);
    --info-half: rgba(255, 0, 153, 0.30);
    
    --dang-full: rgba(239, 15, 7, 1);
    --dang-half: rgba(239, 15, 7, 0.30);
    
    --warn-full: rgba(255, 245, 0, 1);
    --warn-half: rgba(255, 245, 0, 0.30);
    
    --help-full: rgba(3, 169, 244, 1);
    --help-half: rgba(3, 169, 244, 0.30);
    
    --done-full: rgba(0, 230, 118, 1);
    --done-half: rgba(0, 230, 118, 0.30);
}


* {
    font-family: 'Space Mono', monospace;
}
