<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polarpod</title>
    <link rel="stylesheet" href="/home/home.css">
    <link rel="shortcut icon" href="/logo/app_icon-dark.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

</head>
<!-- konnichiwa -->
<body class="dark" link="#03A9F4" vlink="#03A9F4">
    <h1>Get video metadata</h1>
    <br>
    <br>
    <div id="polar">
        <label for="dataIn" id="dataIn" v-if="dataIn.length > 0">{{dataLabel}}</label>
        <input type="text" class="inputs" v-model="dataIn" placeholder="Video URL">

        <div id="responsed">
            <p>Original url: <a target="blank" v-bind:href="dataIn">{{dataIn}}</a></p>
            <p>Video id: {{res.id}}</p>
            <p>Media type: {{res.mediaType}}</p>
            <p>provider: {{res.provider}}</p>

            <a target="blank" v-bind:href="res.thumb">
                <img v-bind:src="res.thumb" width="300px" alt="thumbnail">
            </a>
        </div>
    </div>


    <script src="/home/home.js"></script>
</body>
</html>
