/* code below created colored boxes for any element using bg color */
/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */


body{
    margin: 0;
    background-color: var(--color-backgroud);
    color: var(--text-dark);
}


.inputs{
    border: none;
    border-radius:5px;
    padding: 5px 10px;
    font-size: 130%;
    color: var(--text-dark);
    background-color: var(--color-tertiary);
}
#dataIn{
    position: absolute;
    left: 5px;
    margin-top: -25px;
    color: var(--color-highlight);
}
h1{
    color: var(--color-highlight);
}